/* Mobile Display */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
}

body h3,
html h3 {
  font-size: 1.3em;
}

body p,
body a,
html p,
html a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.1em;
}

header {
  background-image: linear-gradient(45deg, #223dd6, 50%, #57adf7);
  color: #fefefe;
  margin-bottom: 1em;
}

header #mobile-nav #front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #mobile-nav #front #title {
  margin-right: auto;
  padding-left: 1em;
}

header #mobile-nav #front #title h1 {
  font-size: 1.2em;
  margin-bottom: -0.8em;
}

header #mobile-nav #front #title h2 {
  font-size: 1em;
}

header #mobile-nav #front #title .title-link {
  color: white;
  text-decoration: none;
}

header #mobile-nav #front .menu-bars {
  color: #fefefe;
}

header #mobile-nav #front .menu-bars:active {
  opacity: 0.5;
}

header #mobile-nav #front .icon {
  font-size: 2em;
  margin-left: auto;
  padding-right: 1em;
}

header #mobile-nav .nav-menu {
  display: none;
  text-align: left;
}

header #mobile-nav .nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1em;
}

header #mobile-nav .nav-menu ul a {
  text-decoration: none;
  color: #fefefe;
}

header #mobile-nav .nav-menu ul li {
  font-size: 1.3em;
  margin-left: -1em;
  margin-bottom: 0.5em;
}

header #mobile-nav .nav-menu.active {
  display: block;
}

header #desktop-nav {
  display: none;
}

#home-page h2 {
  text-align: center;
}

#home-page h3 {
  text-align: center;
  margin: 0.5em 1em 0.5em;
  text-decoration: underline;
  color: #2646d9;
}

#home-page p {
  text-align: left;
  margin: 1em 1em 1em;
  line-height: 1.5;
}

#home-page #slideshow-container {
  display: block;
  max-width: 22em;
  max-height: 14em;
  margin-left: auto;
  margin-right: auto;
  background-color: #131313;
}

#home-page #slideshow-container .slider {
  position: relative;
}

#home-page #slideshow-container .slider .left-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #223dd6;
  font-size: 2em;
}

#home-page #slideshow-container .slider .right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #223dd6;
  font-size: 2em;
}

#home-page #slideshow-container .slider .left-arrow:hover,
#home-page #slideshow-container .slider .right-arrow:hover {
  color: #57adf7;
}

#home-page #slideshow-container .slider .left-arrow:active,
#home-page #slideshow-container .slider .right-arrow:active {
  color: #fefefe;
}

#home-page #slideshow-container .image {
  display: block;
  height: 14em;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#home-page video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22em;
  height: 17em;
  background-color: #131313;
}

#home-page #grid-container img {
  display: block;
  margin: 0 auto 0;
  width: 18em;
  height: auto;
}

#home-page #services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page #services-container img {
  width: 15em;
  height: auto;
}

#home-page #services-container p {
  text-align: center;
}

#about-page img {
  display: block;
  margin: 0 auto 0;
  width: 100%;
  height: auto;
}

#about-page h3 {
  text-align: center;
}

#about-page p {
  text-align: left;
  margin: 1em 1em 1em;
  line-height: 1.5;
}

#contact-page {
  text-align: center;
}

#contact-page img {
  display: block;
  margin: 0 auto 0.5em;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

#contact-page .desktop-number {
  display: none;
}

footer {
  text-align: center;
  background-image: linear-gradient(45deg, #223dd6, 50%, #57adf7);
  color: #fefefe;
  padding: 0.5em;
}

footer h2 {
  font-size: 1.3em;
  margin-bottom: -1em;
}

footer h3 {
  font-size: 1.1em;
}

footer p,
footer li {
  font-size: 1.1em;
}

footer p {
  padding-left: 1em;
  padding-right: 1em;
}

footer #footer-links ul {
  padding: 0;
  list-style-type: none;
}

footer #footer-links ul li {
  margin-bottom: 1em;
}

footer #footer-links ul .links {
  color: #fefefe;
  text-decoration: none;
}

footer #footer-links ul .links:active {
  color: gray;
}

footer .tel,
footer .email {
  color: white;
}

footer .copyright {
  font-style: italic;
  font-size: 0.7em;
}

footer .creator {
  color: white;
}

@media only screen and (min-width: 1025px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  body p {
    font-size: 1.2em;
  }
  header #mobile-nav {
    display: none;
  }
  header #desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15em 0;
  }
  header #desktop-nav #title {
    margin-right: auto;
  }
  header #desktop-nav #title h1 {
    margin-bottom: -0.8em;
    font-size: 1.8em;
  }
  header #desktop-nav #title h2 {
    font-size: 1.5em;
  }
  header #desktop-nav #title .title-link {
    color: white;
    text-decoration: none;
  }
  header #desktop-nav #title .title-link:active {
    color: gray;
  }
  header #desktop-nav #desktop-links {
    margin-right: auto;
  }
  header #desktop-nav #desktop-links a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
  }
  header #desktop-nav #desktop-links a:active {
    color: gray;
  }
  header #desktop-nav #desktop-links #spacing {
    margin-left: 2em;
  }
  header #desktop-nav .contact-button {
    margin-left: auto;
    border: solid white 2px;
    border-radius: 15px;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
  }
  header #desktop-nav .contact-button:active {
    background-color: #223dd6;
  }
  #home-page,
  #about-page,
  #contact-page {
    padding: 0 15em 0.5em;
  }
  #home-page h2 {
    font-size: 1.8em;
  }
  #home-page h3 {
    font-size: 1.4em;
    margin-top: 2em;
    text-decoration: underline;
    color: #2646d9;
  }
  #home-page p {
    padding: 0 1.5em 0;
  }
  #home-page #slideshow-container {
    display: block;
    max-width: 65em;
    max-height: 35em;
  }
  #home-page #slideshow-container .slider .left-arrow,
  #home-page #slideshow-container .slider .right-arrow {
    font-size: 2.5em;
  }
  #home-page #slideshow-container .image {
    display: block;
    height: 35em;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #home-page #grid-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "blockOne blockOneVideo" "blockTwoVideo blockTwo" "blockThree blockThreeImage";
    grid-gap: 1em;
    margin-top: 1em;
  }
  #home-page #grid-container video {
    width: 40em;
    height: 25em;
  }
  #home-page #grid-container .grid-item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blockOne;
    text-align: center;
  }
  #home-page #grid-container .grid-item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: blockTwo;
    text-align: center;
  }
  #home-page #grid-container .grid-item3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: blockThree;
    text-align: center;
  }
  #home-page #grid-container .grid-item1-video {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: blockOneVideo;
  }
  #home-page #grid-container .grid-item2-video {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: blockTwoVideo;
  }
  #home-page #grid-container .grid-item3-image {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: blockThreeImage;
  }
  #home-page #grid-container img {
    display: block;
    margin: 0 auto 0;
    height: 25em;
    width: auto;
  }
  #home-page #services-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(1em, 1fr))[3];
        grid-template-columns: repeat(3, minmax(1em, 1fr));
    grid-gap: 1em;
    place-items: center;
  }
  #home-page #services-container p {
    text-align: center;
  }
  #home-page #services-container img {
    height: 12em;
    width: auto;
  }
  #about-page img {
    width: 60%;
  }
  #about-page h3 {
    font-size: 1.5em;
  }
  #about-page p {
    padding: 0 15em 0;
  }
  #contact-page img {
    width: 50%;
  }
  #contact-page .mobile-number {
    display: none;
  }
  #contact-page .desktop-number {
    display: inline;
  }
  footer #footer-grid {
    padding: 1em 15em 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(1em, 1fr))[3];
        grid-template-columns: repeat(3, minmax(1em, 1fr));
    place-items: center;
  }
  footer #footer-grid .mobile-number {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */