/* Mobile Display */
    
body,
html 
    margin: 0
    padding: 0
    overflow-x: hidden 
    font-family: 'Oswald', sans-serif
    h1,
    h2,
    h3,
    h4
        color: #223dd6
    h3 
        font-size: 1.3em
    p,
    a 
        font-family: 'Roboto Condensed', sans-serif
        font-size: 1.1em

header 
    background-image: linear-gradient(45deg, #223dd6, 50%, #57adf7)
    color: #fefefe
    margin-bottom: 1em
    #mobile-nav 
        #front 
            display: flex
            justify-content: flex-end 
            align-items: center 
            #title 
                margin-right: auto
                padding-left: 1em
                h1
                    font-size: 1.2em
                    margin-bottom: -0.8em
                    color: #fefefe
                h2 
                    font-size: 1em
                    color: #fefefe
                .title-link 
                    color: white 
                    text-decoration: none
            .menu-bars 
                color: #fefefe
            .menu-bars:active 
                opacity: 0.5
            .icon 
                font-size: 2em
                margin-left: auto
                padding-right: 1em
        .nav-menu
            display: none
            text-align: left
            ul 
                list-style-type: none
                margin: 0
                padding-bottom: 1em
                a 
                    text-decoration: none
                    color: #fefefe
                li 
                    font-size: 1.3em
                    margin-left: -1em
                    margin-bottom: 0.5em
        .nav-menu.active 
            display: block
    #desktop-nav 
        display: none

#home-page
    h2 
        text-align: center
        text-decoration: underline
    h3
        text-align: center
        margin: 0.5em 1em 0.5em
        text-decoration: underline
    p 
        text-align: left
        margin: 1em 1em 1em
        line-height: 1.5
    #slideshow-container 
        display: block
        max-width: 22em
        max-height: 14em
        margin-left: auto 
        margin-right: auto
        background-color: #131313
        .slider
            position: relative
            .left-arrow
                cursor: pointer
                position: absolute
                top: 50%
                width: auto 
                margin-top: -22px
                padding: 16px
                color: #223dd6
                font-size: 2em
            .right-arrow 
                cursor: pointer 
                position: absolute 
                top: 50% 
                right: 0
                width: auto 
                margin-top: -22px 
                padding: 16px 
                color: #223dd6 
                font-size: 2em
            .left-arrow:hover,
            .right-arrow:hover
                color: #57adf7
            .left-arrow:active,
            .right-arrow:active
                color: #fefefe
        .image 
            display: block
            height: 14em
            margin-left: auto
            margin-right: auto
            object-fit: contain
    video 
        display: block 
        margin-left: auto 
        margin-right: auto
        width: 22em
        height: 17em
        background-color: #131313
    #grid-container 
        img 
            display: block 
            margin: 0 auto 0
            width: 18em
            height: auto
    #services-container 
        display: flex 
        flex-direction: column
        justify-content: center
        align-items: center
        img 
            width: 15em
            height: auto
        p 
            text-align: center

#about-page 
    img 
        display: block 
        margin: 0 auto 0
        width: 100%
        height: auto
    h3 
        text-align: center 
        text-decoration: underline
    p
        text-align: left
        margin: 1em 1em 1em
        line-height: 1.5

#contact-page 
    text-align: center
    h2 
        text-decoration: underline
    img 
        display: block 
        margin: 0 auto 0.5em
        object-fit: contain 
        width: 100%
        height: auto
        border-radius: 15px
    .desktop-number 
        display: none

footer 
    text-align: center    
    background-image: linear-gradient(45deg, #223dd6, 50%, #57adf7)
    color: #fefefe
    padding: 0.5em
    h2 
        font-size: 1.3em
        margin-bottom: -1em
        color: #fefefe
    h3 
        font-size: 1.1em
        color: #fefefe
    p,
    li 
        font-size: 1.1em
    p 
        padding-left: 1em
        padding-right: 1em
    #footer-links
        ul 
            padding: 0
            list-style-type: none
            li 
                margin-bottom: 1em
            .links 
                color: #fefefe
                text-decoration: none
            .links:active 
                color: gray
    .tel,
    .email 
        color: white
    .desktop-number 
        display: none
    .copyright 
        font-style: italic
        font-size: 0.7em
    .creator 
        color: white

@media only screen and (min-width: 1025px)  
    body 
        margin: 0 
        padding: 0
        overflow-x: hidden
        p 
            font-size: 1.2em

    header 
        #mobile-nav 
            display: none
        #desktop-nav 
            display: flex 
            justify-content: center
            align-items: center
            padding: 0 15em 0
            #title 
                margin-right: auto
                h1 
                    margin-bottom: -0.8em
                    font-size: 1.8em
                    color: #fefefe
                h2 
                    font-size: 1.5em
                    color: #fefefe
                .title-link 
                    color: white 
                    text-decoration: none
                .title-link:active 
                    color: gray
            #desktop-links
                margin-right: auto
                a  
                    text-align: center
                    color: white 
                    text-decoration: none
                    font-size: 1.4em
                a:active 
                    color: gray
                #spacing 
                    margin-left: 2em
            .contact-button 
                margin-left: auto
                border: solid white 2px
                border-radius: 15px
                padding: 0.5em
                text-decoration: none
                color: white
                font-size: 1.2em
            .contact-button:active 
                background-color: #223dd6

    #home-page,
    #about-page,
    #contact-page
        padding: 0 15em 0.5em

    #home-page 
        h2 
            font-size: 1.8em
        h3 
            font-size: 1.5em
            margin-top: 5em
            text-decoration: underline
        p 
            padding: 0 1.5em 0
        #slideshow-container
            display: block
            max-width: 65em
            max-height: 35em
            .slider
                .left-arrow,
                .right-arrow 
                    font-size: 2.5em
            .image
                display: block
                height: 35em
                object-fit: contain
        #grid-container 
            display: grid
            grid-template-areas: "blockOne blockOneVideo" "blockTwoVideo blockTwo" "blockThree blockThreeImage"
            grid-gap: 1em
            margin-top: 1em
            video 
                width: 40em
                height: 25em
            .grid-item1
                grid-area: blockOne
                text-align: center
            .grid-item2
                grid-area: blockTwo
                text-align: center
            .grid-item3
                grid-area: blockThree
                text-align: center
            .grid-item1-video
                grid-area: blockOneVideo
            .grid-item2-video
                grid-area: blockTwoVideo
            .grid-item3-image
                grid-area: blockThreeImage
            img 
                display: block
                margin: 0 auto 0
                height: 25em
                width: auto
        #services-container
            display: grid
            grid-template-columns: repeat(3, minmax(1em, 1fr))
            grid-gap: 1em 
            place-items: center
            p 
                text-align: center
            img 
                height: 12em
                width: auto

    #about-page 
        img 
            width: 60%
        h2 
            text-align: center 
            text-decoration: underline
            font-size: 1.7em
        #about-container 
            display: grid 
            grid-template-columns: repeat(2, minmax(1em, 1fr))
            grid-gap: 1em
            place-items: center
            padding: 0 10em 0
            h3 
                font-size: 1.5em
    
    #contact-page
        img 
            width: 50%
        .mobile-number 
            display: none
        .desktop-number 
            display: inline
        
    footer 
        h2,
        h3 
            color: #fefefe
        #footer-grid
            padding: 1em 15em 2em
            display: grid 
            grid-template-columns: repeat(3, minmax(1em, 1fr))
            place-items: center
            .mobile-number 
                display: none
            .desktop-number 
                display: inline